REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_USERNAME=
REDIS_PASSWORD=password
REDIS_SSL=false

AWS_REGION=us-east-1
AWS_ACCESS_KEY=test
AWS_SECRET_KEY=test
AWS_ENDPOINT=http://localhost:4566

SYNC_QUEUE_URL=http://localhost:4566/000000000000/sync-queue.fifo

SQS_WAIT_TIME_SECONDS=20
SQS_MAX_MESSAGES=10
IDEMPOTENCY_TTL_SECONDS=60
